/*Palette gradient colors*/
$gd-1: #a0eec0;
$gd-2: #8ae9c1;
$gd-3: #86cd82;
$gd-4: #72a276;
$gd-5: #666b6a;

/*Default colors*/
$b: black;
$w: white;
$g: gray;
$lg: lightgray;


/*Ground colors*/
$bg: #eaf1ec;
$fg: #ececece8;
