@import '../../styles/_base.scss';

/*Board*/
.board {
  margin-top: 40px;
  .board-panel {
    display: flex;
    margin-top: 40px;
    @media screen and (max-width: $break-small) {
      flex-flow: column;
    }
    flex-flow: row;
    .board-monitor {
      border-right: 1px solid $lg;
      flex: 1 0 17%;
      margin: auto 10px;
      padding-right: 3px;
    }
    .board-claims {
      flex: 1 0 70%;
      margin: auto 10px;
    }
    .panel-title {
      margin-left: 10px;
      text-align: left;
    }
  }
}

/*Live Claims*/
.board-monitor {
  .lclaim-item {
    border-bottom: 1px solid $lg;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 5px auto;
    padding: 5px 0;
    &:last-child {
      border-bottom: 0px;
    }
    .lclaim-title {
      text-align: left;
      h6 {
        margin: 10px 0 0 10px;
      }
    }
    .lclaim-img {
      span {
        margin: 10px;
        img {
          border-radius: 100%;
          height: 55px;
          object-fit: contain;
          width: 55px;
        }
      }
    }
    .lclaim-footer {
      display: flex;
      flex: 1 0 100%;
      flex-flow: row;
      justify-content: space-between;
      >* {
        margin: 0 10px 5px 10px;
      }
    }
  }
}

/*Board Claims*/
.board-claims {
  .claims-panel {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 15px;
  }

  .claims-list {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 100%;
    .claim-item {
      align-items: center;
      display: flex;
      justify-content: space-around;
      margin: 5px auto;
      flex-flow: row;
      width: 100%;
      .claim-img {
        text-align: center;
        width: 10%;
        img {
          width: 55px;
        }
      }
      .claim-info {
        width: 50%;
        h6,
        p {
          margin-bottom: 0;
          width: 90%;
        }
      }
      .claim-details {
        display: flex;
        flex-flow: column;
        width:20%;
      }
      .claim-actions {
        width: 18%;
      }
    }
  }
}
