.panel {
  height: 450px;
  input {
    text-align: center;
    margin: 50px auto;
    width: 70%;
  }
  span {
    display: flex;
    justify-content: center;
    button:nth-of-type(1n) {
      width:50%;
    }
    button:nth-of-type(2n) {
      width:20%;
    }
    button {
      margin: auto 5px;
    }
  }
}
