@import './styles/_base.scss';

.claimit-app {
  margin: auto;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  text-align: center;
    // background-image: url(/static/media/bg1.03f3e6f4.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
